<section>
    <app-navbar></app-navbar>
</section>

<section class="home">

    <main class="main-eight py-5 px-5 mb-3">
        <div class="d-flex justify-content-center align-items-center flex-column text-center">
            <h1 class="h1-font col-8 my-5">Contact Us - <span
                    class="span-text">anytime</span></h1>
            <span class="col-8" style="color: #555555; font-size: 1.2rem;">We'd love to talk about how we can work together.</span>
        </div>
    </main>

    <main class="main-contact">
        <div class="Maincard">
            <span class="mb-5" style="color: #a9bcd9;">
                <fa-icon [icon]="faHeart" style="color: #1c8ef7;" class="me-3"></fa-icon> 
                Hello, Lets get in touch
            </span>
            <div>
                <div class="form-floating mb-4">
                    <input type="text" class="form-control" id="flaotingInput" placeholder="Name">
                    <label for="flaotingInput">Name</label>
                </div>
                <div class="form-floating mb-4">
                    <input type="text" class="form-control" id="flaotingInput2" placeholder="Your Email">
                    <label for="flaotingInput2">Your Email</label>
                </div>
                <div class="form-floating mb-4">
                    <input type="text" class="form-control" id="flaotingInput3" placeholder="Reason">
                    <label for="flaotingInput3">Reason for contact</label>
                </div>
                <div class="form-floating mb-4">
                    <input type="text" class="form-control" id="flaotingInput4" placeholder="Phone no">
                    <label for="flaotingInput4">Phone no</label>
                </div>
                <div class="form-floating mb-4">
                    <input type="text" class="form-control" id="flaotingInput5" placeholder="Message">
                    <label for="flaotingInput5">Message</label>
                </div>
                <div class="d-flex justify-content-end mt-5">
                    <button class="btn btn-primary py-2 px-3 rounded-pill " style="background: #d83665; border: none;">SEND MESSAGE</button>
                </div>
            </div>
        </div>
        <div class="Sidecard">
            <div>
                <div class="mb-4" style="color: #304a77; font-size: 2.5rem;  font-weight: 300;">We'd love to
                    Hear <span style="color: #5e86c3; font-weight: 600;">from you</span>
                </div>
                <span style="color: #7598d2;">infohevy.in</span>
            </div>
            <div>
                <span style="color: #4f70a9;">Preferd method of communication</span>
                <div class="d-flex my-3">
                    <div class="form-check me-5">
                        <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                        <label class="form-check-label" for="flexRadioDefault1">
                            Phone
                        </label>
                    </div>
                    <div class="form-check ">
                        <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                        <label class="form-check-label" for="flexRadioDefault1">
                            Email
                        </label>
                    </div>
                </div>
                <div class="mt-5">
                    <fa-icon [icon]="faArrowRight" style="color: #4e72a8;"></fa-icon>
                </div>
            </div>
        </div>
    </main>

    <section>
        <main class="main-eleven py-5 px-5">
            <div>
                <app-footer></app-footer>
            </div>

            <div class="d-flex justify-content-center align-items-center flex-column text-center">
                <span class="col-8 my-2" style="color: #555555;">Made with <fa-icon [icon]="faHeart"
                        style="color: red;"></fa-icon> by Shaikh Ejaz</span>
            </div>
        </main>
    </section>
</section>