<section class="footer">
    <main class="">
        <div class="main-footer d-flex justify-content-between">
            <div class="">
                <div class="">
                    <h1 style="color: #fff;">HEVY</h1>
                    <span class="col-7 d-flex" style="color: #757575;">Discover Hevy, the Ultimate gym app. The most
                        comprehensive
                        and intuitive fitness tracking app ever.</span>
                </div>
                <div class="my-3">
                    instagram
                    facebook
                    twitter
                    linkedin
                </div>
            </div>
            <div class="d-flex">
                <ul style="list-style-type: none; color: #757575;">
                    <li class="m-3" style="color: #fff;">Social</li>
                    <li class="m-3">
                        <a routerLink="/workout">Workout</a>
                    </li>
                    <li class="m-3">
                        <a routerLink="/signUp">Calendar</a>
                    </li>
                    <li class="m-3">
                        <a routerLink="/signUp">Health Stats</a>
                    </li>
                </ul>
                <ul style="list-style-type: none; color: #757575;">
                    <li class="m-3" style="color: #fff;">
                        <a routerLink="">Profile</a>
                    </li>
                    <li class="m-3">
                        <a routerLink="/nutrition">Nutrition</a>
                    </li>
                    <li class="m-3">
                        <a routerLink="/signUp">Getting Stated</a>
                    </li>
                    <li class="m-3">
                        <a routerLink="/signIn">Tasks & Challenges</a>
                    </li>
                </ul>
                <ul style="list-style-type: none; color: #757575;">
                    <li class="m-3" style="color: #fff;">
                        <a routerLink="/signIn">FAQ</a>
                    </li>
                    <li class="m-3">
                        <a routerLink="/contact">Contact us</a>
                    </li>
                    <li class="m-3">
                        <a routerLink="/signIn">About Hevy</a>
                    </li>
                    <li class="m-3">
                        <a routerLink="/signIn">Terms & Condition</a>
                    </li>
                </ul>
            </div>
        </div>
    </main>
</section>