<section>
    <app-navbar></app-navbar>
</section>

<section class="home">
    <main class="main-six py-5 px-5">
        <div class="d-flex justify-content-center align-items-center flex-column text-center">
            <h1 class="h1-font col-5 my-5">Keep up with your frineds' latest workouts at <span
                    class="span-text">anytime</span></h1>
            <span class="col-8" style="color: #555555; font-size: 1.2rem;">Creates a sense of community and inspiration
                as you share achievements in real-time, creating a supportive environment for everyone on their health
                and wellness adventure.</span>
        </div>
        <div>
            <img style="width: 100%;" src="assets/images/anyting.jpg" alt="">
            <img style="width: 100%;" src="assets/images/anything1.jpg" alt="">
        </div>
    </main>

    <main class="main-seven py-5 px-5">
        <div class="d-flex justify-content-center align-items-center flex-column text-center">
            <h1 class="h1-font col-8 my-5">Start a new workout, use your saved routines or continue where you left it
            </h1>
            <span class="col-8" style="color: #555555; font-size: 1.2rem;">Choose your fitness path effortlessly - start
                a new workout , leverage your saved routines,
                or seamlessly pick up where you left off. Whether you seek variety or consistency, we've got
                you covered for a personalized and adaptive fitness experience.</span>
        </div>
        <div>
            <img style="width: 100%;" src="assets/images/workout.jpg" alt="">
        </div>
    </main>
    
    <section>
        <main class="main-eleven py-5 px-5">
            <div>
                <app-footer></app-footer>
            </div>
    
            <div class="d-flex justify-content-center align-items-center flex-column text-center">
                <span class="col-8 my-2" style="color: #555555;">Made with <fa-icon [icon]="faHeart"
                        style="color: red;"></fa-icon> by Shaikh Ejaz</span>
            </div>
        </main>
    </section>

</section>
