<section>
    <app-navbar></app-navbar>
</section>

<section class="home">
    <main class="main-eight py-5 px-5">
        <div class="d-flex justify-content-center align-items-center flex-column text-center">
            <h1 class="h1-font col-8 my-5">Not just a gym app, track calories, workouts, nutrition - <span
                    class="span-text">anywhere, anytime</span></h1>
            <span class="col-8" style="color: #555555; font-size: 1.2rem;">More than just a gym app - track calories,
                workouts, nutrition anytime, anywhere. Your all-in-one
                fitness companion for a seamless health journey.</span>
        </div>
        <div>
            <img style="width: 100%;" src="assets/images/fitness.jpg" alt="">
        </div>
    </main>

    <main class="main-nine py-5 px-5">
        <div class="d-flex justify-content-center align-items-center flex-column text-center">
            <h1 class="h1-font col-8 my-5">Dynamic Island Preview & Widget</h1>
        </div>
        <div>
            <img style="width: 100%;" src="assets/images/dynamic.jpg" alt="">
        </div>
    </main>

    <section>
        <main class="main-eleven py-5 px-5">
            <div>
                <app-footer></app-footer>
            </div>
    
            <div class="d-flex justify-content-center align-items-center flex-column text-center">
                <span class="col-8 my-2" style="color: #555555;">Made with <fa-icon [icon]="faHeart"
                        style="color: red;"></fa-icon> by Shaikh Ejaz</span>
            </div>
        </main>
    </section>
    
</section>

