<section>
    <app-navbar></app-navbar>
</section>

<section class="home">
    <main class="">
        <div class="py-5 d-flex justify-content-center align-items-center text-center">
            <h1 class="col-7 h1-font">
                Discover Hevy, the <span class="span-text">Ultimate gym app.</span>
                The most comprehensive and intuitive
                fitness tracking app ever.
            </h1>
        </div>
        <div>
            <img class="w-100" src="assets/images/home.jpg" alt="">
        </div>
        <div class="d-flex justify-content-around align-items-center px-2">
            <div class="div-text mx-2 my-1 col-5">
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Consectetur voluptatibus magnam laudantium
                nihil voluptate laborum ipsum, illum illo quisquam tempora sapiente architecto, recusandae eum est
                molestias animi perferendis ut hic.
            </div>
            <div class="div-text mx-2 my-1 col-5">
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Consectetur voluptatibus magnam laudantium
                nihil voluptate laborum ipsum, illum illo quisquam tempora sapiente architecto, recusandae eum est
                molestias animi perferendis ut hic.
            </div>
        </div>
    </main>

    <main class="second-main py-5 px-5">
        <div class="second-div my-4">
            <div class="d-flex justify-content-start align-items-baseline" style="border-bottom: 1px solid;">
                <h1 style="font-size: 7rem;">01</h1>
                <div class="mx-3" style="font-size: 2rem;">Getting Started</div>
            </div>
            <div class="text-start py-3" style="font-size: 1.2rem;">background & things you need to know about Hevy
            </div>
        </div>
        <div class="second-div my-4">
            <div class="d-flex justify-content-start align-items-baseline" style="border-bottom: 1px solid;">
                <h1 style="font-size: 7rem;">02</h1>
                <div class="mx-3" style="font-size: 2rem;">Typography & Colors</div>
            </div>
            <div class="text-start py-3" style="font-size: 1.2rem;">Crafting the visual identity
            </div>
        </div>
        <div class="second-div my-4">
            <div class="d-flex justify-content-start align-items-baseline" style="border-bottom: 1px solid;">
                <h1 style="font-size: 7rem;">03</h1>
                <div class="mx-3" style="font-size: 2rem;">Icons</div>
            </div>
            <div class="text-start py-3" style="font-size: 1.2rem;">A collection of icons used throughtout the project
            </div>
        </div>
        <div class="second-div my-4">
            <div class="d-flex justify-content-start align-items-baseline" style="border-bottom: 1px solid;">
                <h1 style="font-size: 7rem;">04</h1>
                <div class="mx-3" style="font-size: 2rem;">UX Map</div>
            </div>
            <div class="text-start py-3" style="font-size: 1.2rem;">Guided exploration of fitness essentials
            </div>
        </div>
        <div class="second-div my-4">
            <div class="d-flex justify-content-start align-items-baseline" style="border-bottom: 1px solid;">
                <h1 style="font-size: 7rem;">05</h1>
                <div class="mx-3" style="font-size: 2rem;">Details</div>
            </div>
            <div class="text-start py-3" style="font-size: 1.2rem;">Unveiling the app's entrails
            </div>
        </div>
    </main>

    <main class="main-third py-5">
        <div class="d-flex justify-content-center align-items-center flex-column text-center">
            <h1 class="h1-font my-5">The Most Powerful
                <span class="span-text">Workout App.</span>
            </h1>
            <span class="col-6" style="color: #555555; font-size: 1.2rem;">Discover Hevy, the ultimate gym app ! its teh
                most comprehensive and intutive fitness tracking app ever. Say goodbye to old-school methods and helloto
                a seamless way to track and achieve your fitness goals.</span>
        </div>
        <div>
            <img style="width: 100%;" src="assets/images/about.jpg" alt="">
        </div>
    </main>

    <main class="main-fourth py-5 px-5">
        <div class="d-flex justify-content-center align-items-center">
            <h1 class="h1-font my-5">Main Tasks & Challenges</h1>
        </div>
        <div class="card-div d-flex justify-content-between align-items-center pb-5">
            <div class="card mx-3 my-3">
                <fa-icon class="fontAwesome mb-3" [icon]="faEdit"></fa-icon>
                <h3>Update UI</h3>
                <span class="" style="color: #555555;">Revamp the visual appeal and user interaction of the app for
                    for a sleeker, more intuitive experience</span>
            </div>
            <div class="card mx-3 my-3">
                <fa-icon class="fontAwesome mb-3" [icon]="faDiagramProject"></fa-icon>
                <h3>Update UX</h3>
                <span class="" style="color: #555555;">optimize user pathways, interactions, and overall experience
                    to ensure seamless navigation and hieghtened engagement.</span>
            </div>
            <div class="card mx-3 my-3">
                <fa-icon class="fontAwesome mb-3" [icon]="faFolder"></fa-icon>
                <h3>Add More Features</h3>
                <span class="" style="color: #555555;">introduce new features to enrich the app's capabilities,
                    providing users with a comprehensive toolkit for thier fitness journey.</span>
            </div>
        </div>
    </main>

    <main class="main-fifth py-5 px-5">
        <div>
            <div class="my-4" style="color: #fff;">
                <div class="d-flex justify-content-start align-items-baseline py-3" style="border-bottom: 1px solid;">
                    <h1 style="font-size: 2rem;">01</h1>
                    <div class="mx-3" style="font-size: 1.5rem;">Getting Started</div>
                </div>
                <div class="text-start py-3" style="font-size: 1rem; color: #555555;">Step into the world of fitness
                    with our initail app mockups - a seamless blend of dark aesthetics and minimalism.Form the outset ,
                    immerse yourself in
                    a visually striking interface adorned with soothing tones and intutive buttons.
                </div>
            </div>
            <div>
                <img style="width: 100%;" src="assets/images/getting.jpg" alt="">
            </div>
            <div>
                <img style="width: 100%;" src="assets/images/getting1.jpg" alt="">
            </div>
        </div>

        <div>
            <div class="my-4" style="color: #fff;">
                <div class="d-flex justify-content-start align-items-baseline py-3" style="border-bottom: 1px solid;">
                    <h1 style="font-size: 2rem;">02</h1>
                    <div class="mx-3" style="font-size: 1.5rem;">Typography & Colors</div>
                </div>
                <div class="text-start py-3" style="font-size: 1rem; color: #555555;">The project's visual identity is a
                    symphony of Poppins font in Medium and Regular, accomponied by a dark , black palette enriched with
                    electric blue
                    accents.White serves as the contrasting canvas, creating a captivating and cohensive visual
                    laungauge throughout. Experience a harmonious blend of Typography and colors that defines the
                    project's sleeks and sophisticated aesthetic.
                </div>
            </div>
            <div>
                <img style="width: 100%;" src="assets/images/typo.jpg" alt="">
            </div>
        </div>

        <div>
            <div class="my-4" style="color: #fff;">
                <div class="d-flex justify-content-start align-items-baseline py-3" style="border-bottom: 1px solid;">
                    <h1 style="font-size: 2rem;">03</h1>
                    <div class="mx-3" style="font-size: 1.5rem;">Typography & Colors</div>
                </div>
                <div class="text-start py-3" style="font-size: 1rem; color: #555555;">Discover a curated selection of
                    rounded icons , merticulously chosen to harmonize with the app's aesthetic. These bespoke icons not
                    only enhance visual
                    appeal but also contribute to a unified and polished design .Every Icon adds a touch of visual
                    harmony to the overall aesthetic.
                </div>
            </div>
            <div>
                <img style="width: 100%;" src="assets/images/icons.jpg" alt="">
            </div>
        </div>

        <div>
            <div class="my-4" style="color: #fff;">
                <div class="d-flex justify-content-start align-items-baseline py-3" style="border-bottom: 1px solid;">
                    <h1 style="font-size: 2rem;">04</h1>
                    <div class="mx-3" style="font-size: 1.5rem;">UX Map</div>
                </div>
                <div class="text-start py-3" style="font-size: 1rem; color: #555555;">Explore the app effortlessly with
                    our UX map, highlighting key pages like Log in, Sign Up, Home, New Workout, and Search.This visual
                    guide enhances
                    user understanding, ensuring a seamless and intuitive journey through the app's core
                    functionalities. Experience user-friendly navigation strategically
                    mapped for your fitness journey.
                </div>
            </div>
            <div>
                <img style="width: 100%;" src="assets/images/UxMap.jpg" alt="">
            </div>
        </div>

        <div>
            <div class="my-4" style="color: #fff;">
                <div class="d-flex justify-content-start align-items-baseline py-3" style="border-bottom: 1px solid;">
                    <h1 style="font-size: 2rem;">05</h1>
                    <div class="mx-3" style="font-size: 1.5rem;">Details</div>
                </div>
                <div class="text-start py-3" style="font-size: 1rem; color: #555555;">We've compiled content from
                    various pages and additional representations like Apple Watch integration and the dynamic island
                    feature. Uncover the
                    meticulous attention to detail that enhances Hevy app. Welcome to the core of the app, where
                    precision and innovation converge for an immersive
                    fitness encounter.
                </div>
            </div>
            <div>
                <img style="width: 100%;" src="assets/images/details.jpg" alt="">
            </div>
        </div>
    </main>

    <main class="main-teen py-5 px-5">
        <div class="d-flex justify-content-center align-items-center flex-column text-center">
            <h1 class="h1-font col-8 my-5">Other screens</h1>
            <span class="col-8" style="color: #555555; font-size: 1.2rem;">These are like the easter eggs of our app -
                features and functionalities that were so good, we saved them for last.</span>
        </div>
        <div>
            <img style="width: 100%;" src="assets/images/other.jpg" alt="">
        </div>
    </main>

    <main class="main-eleven py-5 px-5">
        <div>
            <app-footer></app-footer>
        </div>

        <div class="d-flex justify-content-center align-items-center flex-column text-center">
            <span class="col-8 my-2" style="color: #555555;">Made with <fa-icon [icon]="faHeart"
                    style="color: red;"></fa-icon> by Shaikh Ejaz</span>
        </div>
    </main>

</section>