.navbar{
    padding: 2rem 0;
    background-color: #0d0d0d !important;
}

.navbar-brand{
    color: #fff !important;
}

.nav{
    --bs-nav-link-color: #636363 !important;
    --bs-nav-link-hover-color: #1C8EF7 !important;
}

.nav-underline {
    --bs-nav-underline-gap: 1rem;
    --bs-nav-underline-border-width: 0.125rem;
    --bs-nav-underline-link-active-color:  #1C8EF7 !important;
    gap: var(--bs-nav-underline-gap);
}

.created-div a{
    color: #757575 !important;
    /* color: #1C8EF7 !important; */
    text-decoration: none;
    border: 1px solid #757575;
    padding: 0.5rem 0.8rem;
    border-radius: 3rem;
}
.created-div a:hover{
    /* color: #fff !important; */
    color: #1C8EF7 !important;
    background: #2b2b2b !important;
    text-decoration: none;
    border: 1px solid #2b2b2b;
    padding: 0.5rem 0.8rem;
    border-radius: 3rem;
}